{% extends 'base.html' %}
{% block content %}
<h2>Add new transaction</h2>
<div style="width: 80%;margin-left: 10%;">
    <form action="savetransaction" method="post">
        {% csrf_token %}
        <div class="col-6">
            <label for="particulars" class="form-label">Pariculars</label>
            <input type="text" class="form-control" name="particulars">
        </div>
        <div class="col-6">
            <label for="type" class="form-label">Type of Transaction</label>
            <select name="type" class="form-select">
                <option selected disabled="true">------</option>
                <option>Credit</option>
                <option>Expense</option>
            </select>
        </div>
        <div class="col-6">
            <label for="amount" class="form-label">Amount</label>
            <input type="text" class="form-control" name="amount">
        </div>
        <input style="margin-top: 10px;" type="submit" class="btn btn-primary" value="Add">
    </form>
    <p style="color: red;">{{message}}</p>
</div>

{% endblock %}